body {
    background-color: paleturquoise;
}
h1  {
    font-family: Gigi;
}
h2  {
    font-family: Broadway;
}
h3  {
    font-family: monospace;
}
.link{ 
    font-family: Forte;
    text-decoration: none;
    font-size: 30px;
    outline-style: inset;
    outline-color: steelblue;
   
}